body{
    background-image: url(https://marketplace.canva.com/EAGOXiKLMVA/1/0/1600w/canva-pink-and-white-watercolor-illustration-pattern-desktop-wallpaper-Fu25SPEYnAk.jpg);
    background-size: cover;
    font-family: Arial, sans-serif;
    cursor: url(https://w7.pngwing.com/pngs/428/232/png-transparent-pink-heart-illustration-emoji-heart-iphone-sticker-watercolor-heart-love-magenta-watercolor-heart.png);
}
h1 {
    text-align: center;
    font-size: 2.5em;
    font-weight: bold;
    border-top: 3px solid black;
    padding-top: 20px;
}
h2{
    text-align: center;
    font-weight: bold;
}
ul {
    list-style-type: none;
    text-align: center;
    padding: 0;
}
.ba{
    border-left: 3px solid black;
    padding-left: 25px;
}
.b{    
    border-bottom: 3px solid black;
    padding-bottom: 20px;
}
li {
    display: inline;
    margin: 0 15px;
}
li a {
    text-decoration: none;
    font-size: 1.2em;
    padding: 10px;
    background-color: lightblue;
    border-radius: 10px;
    
}
li a:hover {
    background-color: darkblue;
    color: white;
    border: 3px solid white;
}
.c{
    background-color: rgba(255, 255, 153, 0.9);
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    text-align: center;
}
.c:hover {
    background-color: rgba(255, 204, 102, 0.9);
    border: 3px solid black;
}
.d {
    background-color: rgb(204, 39, 39);
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
}
.da {
    background-color: lightgray;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.d:hover {
    background-color: red;
    border: 3px solid black;
}
.e{
    width: 90%;
    background-color: violet;
    border-collapse: collapse;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}
.e:hover{
    border: 3px solid black;
    background-color: blueviolet;
}
th, td{
    border: 2px solid black;
    padding: 10px;
    text-align: center;
}
th{
    background: purple;
    color: white;
}
.f{
    background-color:  rgba(240, 31, 195, 0.973);
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    display: flex;
}
.f:hover {
    background-color: rgb(167, 16, 121);
    border: 3px solid black;
}
footer{
    text-align: center;
    background: black;
    color: white;
    padding: 15px;
    margin-top: 20px;
    font-weight: bold;
}